<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body text-center">
                <img src="/images/img-modal.png" alt="modalImg">
                <h5>Menghapus Data Mobil</h5>
                <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin Ingin menghapus?</p>
            </div>
            <div class="modal-footer mx-auto">
                <button type="button" class="btn btn-primary-main">Ya</button>
                <button type="button" class="btn btn-primary-search" data-bs-dismiss="modal">Tidak</button>
            </div>
        </div>
    </div>
</div>