<nav class="navbar navbar-light bg-light shadow ">
    <div class="container-fluid d-flex flex-row">
        <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class=" p-1 text-decoration-none"><i
                class="bi bi-list bi-lg py-2 p-1 text-dark fs-5"></i></a>
        <form class="d-flex flex-row">
            <div class="search-group d-flex flex-row position-relative">
                <i class="bi bi-search"></i>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary-search" type="submit">Search</button>
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle d-flex flex-row align-items-center mx-4 gap-2 border-0" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="avatar-word d-flex justify-content-center align-items-center fw-bold">
                        U
                    </div>
                    <span>Unis Badri</span>
                    <i class="bi bi-chevron-down"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </form>
    </div>
</nav>