<div class="col-auto px-0">
    <div id="sidebar" class="collapse collapse-horizontal show">
        <div class="d-flex ">
            <div id="sidebar-icon"
                class="list-group d-flex flex-col align-items-center justify-content-start border-0 rounded-0 text-sm-start min-vh-100 gap-3">
                <div class="logo-nav">
                </div>
                <a href="/dashboard"
                    class="list-group-item <%- pageActive === 'dashboard' ?  'active' : '' %> nav-link bg-colors-primary d-inline-block text-truncate d-flex flex-column  align-items-center justify-content-center text-wrap "
                    data-bs-parent="#sidebar"><i class="bi bi-house-door"></i> <span>Dashboard</span></a>
                <a href="/cars"
                    class="list-group-item <%- pageActive === 'cars' ?  'active' : '' %> nav-link bg-colors-primary d-inline-block text-truncate d-flex flex-column  align-items-center justify-content-center text-wrap"
                    data-bs-parent="#sidebar"><i class="bi bi-truck"></i><span>Cars</span> </a>
            </div>
            <div id="sidebar-child"
                class="list-group px-4 border-0 rounded-0 text-sm-start min-vh-100 position-relative">
                <div class="logo-parent bg-light shadow">
                </div>
                <div class="logo-nav-2"></div>
                <h6 class="text-colors-gray my-2">
                    <%= nav %>
                </h6>
                <a href="#"
                    class="list-group-item nav-link d-inline-block text-truncate d-flex flex-column align-items-start text-wrap "
                    data-bs-parent="#sidebar">
                    <%= nav_child %>
                </a>
            </div>
        </div>
    </div>
</div>