<div>
    <div class="page-header pt-3 ">
        <p class="d-flex flex-row justify-content-start align-items-center"><span class="fw-bold">Cars</span>
            <i class="bi bi-chevron-right fw-bold"></i><span>List
                Car</span>
        </p>
    </div>
    <div class="my-4">
        <h4 class="fw-bold">Dashboard</h4>
    </div>
    <div class="">
        <h6 class="fw-bold heading-list">List Order</h6>
    </div>
    <div>
        <table class="table table-borderless">
            <thead class="table-head">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">User Email</th>
                    <th scope="col">Start Rent</th>
                    <th scope="col">Finish Rent</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>