<div>
    <div class="page-header py-3 ">
        <p class="d-flex flex-row justify-content-start align-items-center"><span class="fw-bold">Cars</span>
            <i class="bi bi-chevron-right fw-bold"></i><span>List
                Car</span>
        </p>
    </div>
    <div>
        <h5 class="fw-bold">List Car</h5>
    </div>
</div>