<div class="d-flex">
  <div class="login-left section">
    <div class="img-wrap">
      <img src="/images/login-bg.png" alt="logo">
    </div>
  </div>
  <div class="login-right section">
    <div class="d-flex section-content justify-content-center align-items-center">
      <div class="d-flex section-fill flex-column justify-content-start ">
        <div class="logo-nav-2"></div>
        <h4>Welcome, Admin BCR</h4>
        <form action="/dashboard">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary-main" type="submit">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>