<div class="d-flex">
  <div class="login-left section">
    <div class="img-wrap">
      <img src="/images/login-bg.png" alt="logo">
    </div>
  </div>
  <div class="login-right section">
    <div class="d-flex section-content justify-content-center align-items-center">
      <div class="d-flex section-fill flex-column justify-content-start">
        <div class="logo-nav-2"></div>
        <h4>Welcome, Admin BCR</h4>
        <% if (loginFalse) { %>
          <div class="alert alert-danger" role="alert">
            Masukkan username dan password yang benar. Perhatikan penggunaan huruf kapital.
          </div>
          <% } %>
            <form action="/" class="mt-1" method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Contoh : johndee@gmail.com">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                  placeholder="6+ karakter">
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary-main" type="submit">Sign In</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>