@media screen and (max-width: 992px) {
  .dropdown span {
    display: none !important;
  }

  .search-group i,
.search-group input,
.search-group button {
    display: none !important;
  }

  #sidebar {
    height: 100vw;
  }
  #sidebar-child {
    display: none;
  }

  .login-left {
    display: none;
  }
  .login-right {
    width: 100% !important;
  }
}
.wrapper {
  height: 100vh;
}

.wrapper-sidebar {
  min-height: 90vh;
}

.section {
  height: 100vh;
}
.section-content {
  height: 100%;
  width: 100%;
}
.section-fill {
  width: 100%;
  margin: 0px 50px;
}

.login-left {
  width: 70%;
}
.login-right {
  width: 30%;
}

.img-wrap {
  height: 100vh;
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0px !important;
  padding: 0px !important;
}
.img-wrap img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

#content {
  position: relative;
  overflow-y: auto;
  height: 100vh;
}

#sidebar {
  height: 100vh;
}
#sidebar-icon {
  width: 70px;
  background-color: #0d28a6;
}
#sidebar-child {
  width: 170px;
}
#sidebar-child hr {
  position: absolute;
  width: 100%;
  top: 61px;
  left: 0px;
  margin: 0;
  border: none;
}

.main-content {
  padding: 0px !important;
}

.bg-colors-primary {
  background-color: #0d28a6 !important;
}
.bg-colors-gray {
  background-color: #f4f5f7 !important;
}

.text-colors-gray {
  color: #8a8a8a;
}

.btn-primary-main {
  color: #fff !important;
  background-color: #0d28a6 !important;
  border-color: #0d28a6 !important;
  font-weight: bold;
}
.btn-primary-main:hover {
  background-color: #fff !important;
  color: #000 !important;
}
.btn-primary-search {
  font-weight: bold !important;
  color: #0d28a6 !important;
  border-color: #0d28a6 !important;
}
.btn-primary-search:hover {
  color: #fff !important;
  background-color: #0d28a6 !important;
  border-color: #0d28a6 !important;
}

.logo-nav {
  background-color: #cfd4ed;
  width: 34px;
  height: 34px;
  margin: 15px 0px;
}
.logo-parent {
  position: absolute;
  width: 100%;
  height: 54px;
  left: 0px;
}
.logo-nav-2 {
  z-index: 5;
  background-color: #cfd4ed;
  width: 100px;
  height: 34px;
  margin: 10px 0px;
}

.nav-link:hover {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.nav-link:active {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.list-group-item {
  color: #fff;
  border: 0px !important;
  padding: 0px !important;
}
.list-group-item i {
  font-size: 28px;
  color: #fff;
}
.list-group-item span {
  color: #fff;
  font-size: 12px;
  -webkit-text-size-adjust: 4px;
     -moz-text-size-adjust: 4px;
          text-size-adjust: 4px;
}
.list-group-item h6:hover {
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.dropdown button {
  background-color: transparent;
}
.dropdown-toggle::after {
  content: none !important;
}
.dropdown span {
  display: block;
}

.avatar-word {
  height: 32px;
  width: 32px;
  background-color: #cfd4ed;
  border-radius: 50%;
}

.search-group i {
  position: absolute;
  top: 6px;
  left: 10px;
  color: #8a8a8a;
}
.search-group input {
  padding-left: 30px;
}

.liner {
  height: 10px;
  width: 10px;
  background-color: #0d28a6;
}

.heading-list {
  margin-left: 10px;
}
.heading-list::before {
  content: "";
  display: block;
  position: absolute;
  height: 23px;
  width: 5px;
  background-color: #0d28a6;
  margin-left: -8px;
}

.table {
  background-color: #fff;
}
.table-head {
  background-color: #cfd4ed;
}
.table tbody > tr {
  border-bottom: solid 2px #f4f5f7;
}

.select-limit {
  width: 70px !important;
}
.select-jump {
  width: 120px !important;
}

.form-required::after {
  content: "*";
  color: red;
  font-size: 16px;
}

.uploud-icon {
  position: absolute;
  right: 10px;
}

.submit-grup {
  min-height: 18vh !important;
  height: 100% !important;
}/*# sourceMappingURL=style.css.map */